<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Empleados</title>
</head>
<body>
<!--barra de navegacion-->
<nav class="bg-white border-gray-200 dark:bg-gray-900">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="https://flowbite.com/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
      <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a th:href=@{/} class="block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-700 md:p-0 dark:text-white md:dark:text-blue-500" aria-current="page">Home</a>
        </li>
        <li>
          <a th:href=@{/productos} class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Productos</a>
        </li>
        <li>
          <a th:href=@{/registro-productos} class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Registro de Productos</a>
        </li>
        <li>
          <a th:href=@{/empleado/registro-empleado} class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Registro de Usuario</a>
        </li>
        <li>
          <a href="#" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Form para registrar Usuario-->
<div>
  <h1>Formulario de registro</h1>
  <form action="/empleado/registrar-empleado" method="post" th:object="${empleado}" >
    <div>
      <label>Nombre:</label>
      <input type="text" th:field="*{nombre}"><br>
      <span th:if="${#fields.hasErrors('nombre')}" th:errores="*{nombre}">Error de nombre</span>
    </div>
    <div>
      <label>Email:</label>
      <input type="email" th:field="*{email}"><br>
      <span th:if="${#fields.hasErrors('email')}" th:errores="*{email}">Error de email</span>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" th:field="*{password}"><br>
      <span th:if="${#fields.hasErrors('password')}" th:errores="*{password}">Error de password</span>
    </div>
    <div>
      <label>Fecha nacimiento:</label>
      <input type="date" th:field="*{fechaNacimiento}"><br>
      <span th:if="${#fields.hasErrors('fechaNacimiento')}" th:errores="*{fechaNacimiento}">Error de fecha de nacimiento</span>
    </div>
    <div>
      <label>Género:</label>
      <input type="radio" th:field="*{genero}" value="Masculino">Masculino
      <input type="radio" th:field="*{genero}" value="Femenino">Femenino
      <span th:if="${#fields.hasErrors('genero')}" th:errores="*{genero}">Error de nombre</span>
    </div>
    <div>
      <label>Estudios:</label>
      <input type="checkbox" th:field="*{estudios}"><br>
      <span th:if="${#fields.hasErrors('estudios')}" th:errores="*{estudio}">Error de matrimonio</span>
    </div>
    <div>
      <label>Ingreso mensual:</label>
      <input type="text" th:field="*{sueldo}"><br>
      <span th:if="${#fields.hasErrors('sueldo')}" th:errores="*{sueldo}">Error de ingreso</span>
    </div>
    <div>
      <label>Domicilio:</label>
      <textarea rows="5" cols="225" th:field="*{direccion}"></textarea>
      <span th:if="${#fields.hasErrors('direccion')}" th:errores="*{direccion}">Error de nombre</span>
    </div>
    <div>
      <div><button type="submit">Registrar</button></div>
      <div></div>
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>
</html>